.game-board__background {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #264653;
}

.game-board {
    display: grid;
    width: 100vmin;
    height: 100vmin;
    grid-template-columns: repeat(51, 1fr);
    grid-template-rows: repeat(51, 1fr);
    background-color: #edede9;
}